#header
{
	width:100%;
	height:auto;
	float:left;
	background:url(../img/header-bg.png) center top no-repeat;
}
#content
{
	width:100%;
	height:auto;
	float:left;
	background:url(../img/content-bg.png) repeat;
}
.content
{
	width:90%;
	height:auto;
	margin:0px auto;
}
.left-bg
{
	width:26px;
	height:424px;
	float:left;
}

.right-bg
{
	width:26px;
	height:424px;
	float:left;
}
.breadNav
{
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	font:Bold 14px Arial, Helvetica, sans-serif;
	color:#888;
}
.content-center
{
	width:95%;
	height:auto;
	float:left;
	background-color:#fff;
	border-left:1px solid #ccc;
	border-right:2px solid #ccc;
}
.include h1
{
	height:auto;
	float:left;
	font:Normal 24px Arial, Helvetica, sans-serif;
	color:#474747;
	padding-bottom:0px;
}
/*Header Start*/

.header
{
	width:1024px;
	height:auto;
	margin:0px auto;
}

.logo-part
{
	width:1024px;
	height:auto;
	float:left;
	padding-top:37px;
}

.logo

{
	width:124px;
	height:auto;
	float:left;
	padding-left:11px;
}

.header-title

{
	width:480px;
	height:auto;
	float:left;
	padding-top:35px;
}

.header-title h1

{
	width:480px;
	height:auto;
	float:left;
	text-align:left;
	font: 28px Arial, Helvetica, sans-serif;
	color:#ffffff;
	padding-bottom:17px;
}

.find
{
	width:480px;
	height:auto;
	float:left;
	font:Bold 14px Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-transform:uppercase;
	text-shadow: 1px 1px #001a38;
}

.find ul
{
	margin:0px;
	padding:0px;
}

.find ul li
{
	display:inline-block;
	float:left;
	background:url(../img/divater.png) right no-repeat;
	padding-right:14px;
	padding-left:14px;
	
}

.find ul li a
{
	color:#ffffff;
}

.find ul li a:hover
{
	color:#1e7dee;
}
.menu-and-banner
{
	width:100%;
	height:auto;
	float:left;
	padding-left:11px;
	padding-right:8px;
	background:url(../img/shadow.png) top no-repeat;
}

.menu-part
{
	width:100%;
	height:49px;
	float:left;
	background:url(../img/menu-bg.png) repeat-x;
	padding-top:3px;
	font:Bold 12px Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-transform:uppercase;
	/*text-shadow: 1px 1px #001a38;*/
}

.menu-part ul
{
	margin:0px;
	padding:0px;
}

.menu-part ul li
{
	display:inline-block;
	float:left;
	background:url(../img/menu-divater.png) right no-repeat;
	height:29px;
	padding-left:22px;
	padding-right:23px;
	padding-top:20px;
}

.menu-part ul li a
{
	color:#ffffff;
}

.menu-part ul li a:hover
{
	color:#002c60;
/*	text-shadow: 1px 1px #ffffff;*/
}

.footer-bottom
{
	width:100%;
	height:61px;
	float:left;
	background:url(../img/footer-bottom.png) repeat-x;
	padding-top:26px;
}

.copy-right-part
{
	width:977px;
	height:auto;
	margin:0px auto;
	padding-left:47px;
}

.copy-right-text
{
	width:800px;
	height:auto;
	float:left;
	font:Bold 12px Arial, Helvetica, sans-serif;
	color:#ffffff;
	padding-top:10px;
}

.social-media
{
	width:177px;
	height:auto;
	float:left;
}

.social-media ul li
{
	display:inline-block;
	float:left;
	padding-left:6px;
}

.social-media ul li a:hover
{
	opacity:0.4;
    filter:alpha(opacity=20);
}


.service-text-part
{
	width:699px;
	height:auto;
	float:left;
}


/*keyword search box from baidu*/
.keyword{
	margin-left:34%
}
.keyword.gray {
    color: #999
}
.keyword input[type = "search"],input[type = "date"]{
    width: 466px;
    height: 36px;
    line-height: 33px;
    float: left;
    border: 2px solid #0c81f8;
    border-right: 0;
    outline: none;
    font-size: 12px;
    text-indent: 10px
}
.keyword button[type = "submit"]  : hover {
    background-color: #5fa8f6
}
.keyword button[type = "submit"] {
    width: 96px;
    height: 36px;
    background-color: #0c81f8;
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer
}
/*  login page  */
.login-background{
	width:100%;
	min-height:600px;
	height:100%;
	background:url(../img/loginbg.png) no-repeat;
	background-size:cover;
}
/*  main content text */
.leftdiv label{
	float:right;
	color:#999;
	font:Bold 16px Arial, Helvetica, sans-serif;
	margin:8px;
}
.rightdiv{
	font:14px "Hiragino Sans GB","Microsoft YaHei","微软雅黑","宋体",Arial,Verdana,sans-serif;
	margin:8px;
}
.btndiv{
	padding-left:300px;
}
.btndiv a{
	display:inline-block; 
	width:104px; 
	height:30px; 
	line-height:30px; 
	text-align:center; 
	background:#07e;
	color:#FFF; 
	cursor:pointer; 
	-moz-border-radius:2px; 
	-webkit-border-radius:2px; 
	border-radius:2px; 
	margin-left:12px; 
	margin-top:20px;
}
.listimgdiv{
	width:150px;
	float:left;
}
button{
	background-color: #5fa8f6;
    width: 96px;
    height: 36px;
    background-color: #0c81f8;
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer
}
.alertMessage{
	padding:10px;
	padding-left:50px;
	font:Bold 16px Arial;
	background-color:rgba(255, 250, 2550, .6);
}
.messageText{
	font:20px Arial, Helvetica, sans-serif;
	color:#666;
	margin-left:100px;
	margin-bottom:60px;
}