@{
    ViewBag.Title = "提示信息";
    ViewBag.Location = Html.Raw(Html.ActionLink("首页", "Index", "Home") + " > "
    + "提示信息");
}


<h1>@ViewBag.Title</h1>
<div class="row col-md-10 messageText">
    <label>
        @if (ViewBag.Message != null)
        {
            @ViewBag.Message
        }
    </label>
</div>
<div class="btndiv row col-md-10" >

    <a href="javascript:history.go(-1)">返回</a>
    @if (ViewBag.NextUrl != null)
    {
        <a href="@Url.Content(ViewBag.NextUrl)">确认</a>
    }
</div>