
@{
    ViewBag.Title = "AddUserInfo";
}


<div class="container">

    <form role="form" action="/Account/AddUserInfo" method="post">
            <label for="name">用户名:@Session["user"]</label> <br>


        <div class="form-group">
            <label for="picture"> 头像</label> <br>
            <input type="file" id="picture" name="picture" />
        </div>

        <div class="form-group">
            <label for="email">输入Email</label><br>
            <input type="email" id="email" name="email">
        </div>

        <div class="form-group">
            <label for="realname">真实姓名</label><br>
            <input type="text" id="realname" name="real_name">
        </div>

        <div class="form-group">
            <label for="realid">身份证号</label><br>
            <input type="text" id="realid" name="social_id">
        </div>

        <div class="form-group">
            <label for="tel"> 电话号码</label> <br>
            <input type="tel" id="yourtel" name="tel" >
        </div>

        <button type="submit" class="btn btn-primary btn-lg">修改</button>
        <button type="reset" class="btn btn-primary btn-lg">重置</button>
    </form>
</div>