@{
    ViewBag.Title = "用户登录";
    ViewBag.Location = "首页 > 用户登录";
}
<div class="login-background">
    <div class="box">
    <div class="login-box">
        <div class="login-title text-center" style="height:auto">
            <h1><small>登录</small></h1>
        </div>
        <div class="login-content ">
            <div class="form">
                <form action="/Account/Login" method="post">
                    <div class="form-group">
                        <div class="col-xs-12  ">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" id="name" name="name" class="form-control" placeholder="请输入用户名">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12  ">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" id="password" name="password" class="form-control" placeholder="请输入密码">
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-xs-4 col-xs-offset-4 ">
                            <button type="submit" class="btn btn-sm btn-success">登录</button>
                            
                        </div>
                        <button type="reset" class="btn btn-sm btn-warning">重置</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</div>
