@model IEnumerable<guahao.Models.doctor>

@{
    ViewBag.Title = "DoctorList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DoctorList</h2>
<div class="show">
    @foreach (var doctor in Model)
    {
        <div class="col-md-4 jumbotron">
            @Html.ActionLink(@doctor.name, "DoctorDetail/" + @doctor.id, "Hospital")
        </div>

    }
</div>