
@model IEnumerable<guahao.Models.hospital> 
@{
    ViewBag.Title = "医院列表";
}

<h2>@ViewBag.Title</h2>

<div class="show">
    @foreach (var hospital in Model)
    {
        <div class="col-md-4 jumbotron">
            @Html.ActionLink(@hospital.name, "HospitalDetail/" + @hospital.id, "Hospital")
        </div>

    }

</div>
