@{
    ViewBag.Title = "About";
}


<h3>@ViewBag.Message</h3>

<address>
    softsad06<br />
    BUAA<br />
    <abbr title="Phone">P:</abbr>
    15201057652
</address>

<address>
    <strong>Contact:</strong>   <a href="http://www.github.com/softsad06">We are there!</a><br />

</address>