@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <form role="form" action="/Hospital/HospitalList" method="post">
        <div class="form-group jumbotron">
          
            <input type="search" id="search" name="cityname" placeholder="请输入城市名,如：北京">
            <button type="submit" class="btn btn-primary btn-lg">查询</button>
        </div>

    </form>

</div>