@{
    ViewBag.Title = "主页";
}
<br>
<br>
<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="../img/1.png" alt="First slide">
        </div>
        <div class="item">
            <img src="../img/2.png" alt="Second slide">
        </div>
        <div class="item">
            <img src="../img/3.png" alt="Third slide">
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel"
       data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel"
       data-slide="next">&rsaquo;</a>
</div>
<br><br><br>
<div class="container">

    <form role="form" action="/Hospital/HospitalList" method="post">
       
          
            <input class="searchinput" type="search" id="search" name="cityname" placeholder="请输入城市名,如：北京">
            <button type="submit" class="btn btn-primary btn-lg">查询</button>
        

    </form>

</div>