@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <form role="form" action="/Hospital/HospitalList" method="post">
        <div class="form-group">
          
            <input type="search" id="search" name="search" placeholder="请输入城市名">
            <button type="submit" class="btn btn-primary btn-lg">查询</button>
        </div>


    </form>

</div>